<launch>
  <arg name="world" default="$(find my_robot_description)/worlds/empty.world"/>
  <param name="robot_description" command="$(find xacro)/xacro $(find my_robot_description)/urdf/my_robot.urdf"/>
  <node pkg="gazebo_ros" type="gazebo" name="gazebo" args="-urdf -world $(arg world)" output="screen"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model my_robot" output="screen"/>
</launch>